.custom-scrollbar::-webkit-scrollbar {
  margin-right: 10px;
  width: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgb(51 65 85 / 0.7);
  border-radius: 5px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #f0f0f0;
  border-radius: 5px;
}
